body {
  color: #222;
  display: block;
  font-family: "Papyrus", fantasy;
  background-color: #fefefe;
}

#container {
  max-width: 720px;
  margin: auto;
  padding: 2em;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .photo {
    width: 100%;
    object-fit: cover;
  }
}

.links {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.subheading {
  font-size: 1.4em;
  font-weight: 400;
}

.photo {
  border-radius: 2px;
}

.project-container {
  margin-bottom: 1.6em;
}

.project-title {
  margin-bottom: 0;
}

.project-description {
  margin: 0;
}

.project-tools {
  margin-top: 2px;
  font-weight: 350;
}

.project-date {
  margin: 0;
  margin-left: 4px;
  font-weight: 400;
  font-size: 16px;
}

.section-title {
  margin-bottom: 0;
}
